In [44]:
STATION_PATH = 'Train/Train/station_201_deploy.csv'

In [45]:
from data_handling import *
station_data = load_data(STATION_PATH)

In [46]:
from datetime import datetime
ts = int(station_data.loc[0][4])

# if you encounter a "year is out of range" error the timestamp
# may be in milliseconds, try `ts /= 1000` in that case
print('Unix Timestamp:',int(station_data.loc[0][4]))
print('Timestamp conversion:', datetime.utcfromtimestamp(ts).strftime('%Y-%m-%d %H:%M:%S'))

Unix Timestamp: 1412114400
Timestamp conversion: 2014-09-30 22:00:00

In [47]:
station_data.head()

,station,latitude,longitude,numDocks,timestamp,year,month,day,hour,weekday,...,temperature.C,relHumidity.HR,airPressure.mb,precipitation.l.m2,bikes_3h_ago,full_profile_3h_diff_bikes,full_profile_bikes,short_profile_3h_diff_bikes,short_profile_bikes,bikes
0,201,39.478178,-0.383541,27,1.412114e+09,2014,10,1,0,Wednesday,...,21.3,85.0,855.3,0.0,NaN,NaN,NaN,NaN,NaN,1.0
1,201,39.478178,-0.383541,27,1.412118e+09,2014,10,1,1,Wednesday,...,21.1,86.0,1000.6,0.0,NaN,NaN,NaN,NaN,NaN,0.0
2,201,39.478178,-0.383541,27,1.412122e+09,2014,10,1,2,Wednesday,...,20.9,86.0,880.6,0.0,NaN,NaN,NaN,NaN,NaN,0.0
3,201,39.478178,-0.383541,27,1.412125e+09,2014,10,1,3,Wednesday,...,20.4,88.0,859.8,0.0,1.0,NaN,NaN,NaN,NaN,0.0
4,201,39.478178,-0.383541,27,1.412129e+09,2014,10,1,4,Wednesday,...,20.3,87.0,898.1,0.0,0.0,NaN,NaN,NaN,NaN,0.0

In [48]:
station_data.tail()

,station,latitude,longitude,numDocks,timestamp,year,month,day,hour,weekday,...,temperature.C,relHumidity.HR,airPressure.mb,precipitation.l.m2,bikes_3h_ago,full_profile_3h_diff_bikes,full_profile_bikes,short_profile_3h_diff_bikes,short_profile_bikes,bikes
740,201,39.478178,-0.383541,27,1.414778e+09,2014,10,31,19,Friday,...,20.2,80.0,1023.5,0.0,1.0,2.00,2.50,2.00,2.50,0.0
741,201,39.478178,-0.383541,27,1.414782e+09,2014,10,31,20,Friday,...,20.2,82.0,1023.9,0.0,1.0,3.00,3.25,3.00,3.25,2.0
742,201,39.478178,-0.383541,27,1.414786e+09,2014,10,31,21,Friday,...,20.0,83.0,1024.0,0.0,1.0,2.25,2.75,2.25,2.75,7.0
743,201,39.478178,-0.383541,27,1.414789e+09,2014,10,31,22,Friday,...,19.3,84.0,1024.4,0.0,0.0,3.25,5.75,3.25,5.75,9.0
744,201,39.478178,-0.383541,27,1.414793e+09,2014,10,31,23,Friday,...,19.1,86.0,1024.1,0.0,2.0,7.50,10.75,7.50,10.75,14.0

In [49]:
station_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 745 entries, 0 to 744
Data columns (total 25 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   station                      745 non-null    int64
 1   latitude                     745 non-null    float64
 2   longitude                    745 non-null    float64
 3   numDocks                     745 non-null    int64
 4   timestamp                    745 non-null    float64
 5   year                         745 non-null    int64
 6   month                        745 non-null    int64
 7   day                          745 non-null    int64
 8   hour                         745 non-null    int64
 9   weekday                      745 non-null    object
 10  weekhour                     745 non-null    int64
 11  isHoliday                    745 non-null    int64
 12  windMaxSpeed.m.s             744 non-null    float64
 13  windMeanSpeed.m.s            744 non-null    float64
 14  windDirection.grades         740 non-null    float64
 15  temperature.C                744 non-null    float64
 16  relHumidity.HR               744 non-null    float64
 17  airPressure.mb               744 non-null    float64
 18  precipitation.l.m2           744 non-null    float64
 19  bikes_3h_ago                 741 non-null    float64
 20  full_profile_3h_diff_bikes   574 non-null    float64
 21  full_profile_bikes           577 non-null    float64
 22  short_profile_3h_diff_bikes  574 non-null    float64
 23  short_profile_bikes          577 non-null    float64
 24  bikes                        744 non-null    float64
dtypes: float64(16), int64(8), object(1)
memory usage: 145.6+ KB

___
**RUNNING TODO: Take care of the null values**
___

In [50]:
(station_data['station'].value_counts(),
station_data['longitude'].value_counts(),
station_data['latitude'].value_counts(),
station_data['numDocks'].value_counts(),)

(201    745
 Name: station, dtype: int64,
 -0.383541    745
 Name: longitude, dtype: int64,
 39.478178    745
 Name: latitude, dtype: int64,
 27    745
 Name: numDocks, dtype: int64)

___
**RUNNING TODO: Consider which values are repeated and seperate categorical data**
___

In [51]:
station_data.describe()

,station,latitude,longitude,numDocks,timestamp,year,month,day,hour,weekhour,...,temperature.C,relHumidity.HR,airPressure.mb,precipitation.l.m2,bikes_3h_ago,full_profile_3h_diff_bikes,full_profile_bikes,short_profile_3h_diff_bikes,short_profile_bikes,bikes
count,745.0,745.000000,7.450000e+02,745.0,7.450000e+02,745.0,745.0,745.000000,745.000000,745.000000,...,744.000000,744.000000,744.000000,744.0,741.000000,574.000000,577.000000,574.000000,577.000000,744.000000
mean,201.0,39.478178,-3.835411e-01,27.0,1.413454e+09,2014.0,10.0,16.013423,11.487248,84.583893,...,21.707796,65.943548,1002.257258,0.0,4.292848,0.050377,3.857019,0.050377,3.857019,4.315860
std,0.0,0.000000,1.666453e-16,0.0,7.747462e+05,0.0,0.0,8.951772,6.930931,46.597784,...,3.273425,16.735357,42.551917,0.0,4.576888,4.395611,3.743557,4.395611,3.743557,4.585772
min,201.0,39.478178,-3.835411e-01,27.0,1.412114e+09,2014.0,10.0,1.000000,0.000000,1.000000,...,13.900000,18.000000,811.900000,0.0,0.000000,-19.000000,0.000000,-19.000000,0.000000,0.000000
25%,201.0,39.478178,-3.835411e-01,27.0,1.412784e+09,2014.0,10.0,8.000000,5.000000,47.000000,...,19.400000,54.000000,1009.675000,0.0,1.000000,-2.000000,1.000000,-2.000000,1.000000,1.000000
50%,201.0,39.478178,-3.835411e-01,27.0,1.413454e+09,2014.0,10.0,16.000000,11.000000,85.000000,...,21.350000,68.000000,1015.350000,0.0,3.000000,0.000000,3.000000,0.000000,3.000000,3.000000
75%,201.0,39.478178,-3.835411e-01,27.0,1.414123e+09,2014.0,10.0,24.000000,17.000000,122.000000,...,23.400000,81.000000,1021.500000,0.0,6.000000,2.333333,5.000000,2.333333,5.000000,6.000000
max,201.0,39.478178,-3.835411e-01,27.0,1.414793e+09,2014.0,10.0,31.000000,23.000000,168.000000,...,34.600000,91.000000,1084.900000,0.0,26.000000,17.000000,20.000000,17.000000,20.000000,26.000000

In [62]:
train, dev = split_data(station_data)

In [63]:
print(train.shape, dev.shape)

(597, 26) (148, 26)

In [78]:
station_training_copy = train[['weekhour']]
station_training_copy.fillna(station_training_copy.mean())

     weekhour
0          49
1          50
3          52
4          53
6          55
..        ...
740       116
741       117
742       118
743       119
744       120

[597 rows x 1 columns]

In [109]:
training_labels = train['bikes'].copy()
training_labels.fillna(training_labels.mean())
np.where(np.isnan(training_labels))
training_labels.iloc[482] = 1
training_labels.iloc[482]

1.0

In [110]:
from sklearn.linear_model import LinearRegression
lin_reg = LinearRegression()
lin_reg.fit(station_training_copy, training_labels)

LinearRegression()

In [113]:
lin_reg.predict([[50]])

array([4.61090744])

In [116]:
station_dev_copy = dev[['weekhour']]
station_dev_copy.fillna(station_training_copy.mean())

dev_labels = dev['bikes'].copy()
dev_labels.fillna(dev_labels.mean())
np.where(np.isnan(dev_labels))

(array([], dtype=int64),)

In [119]:
preds = lin_reg.predict(station_dev_copy[:5])
groud_truth = dev_labels[:5]
print(groud_truth)

2      0.0
5      0.0
12     7.0
16    10.0
23     3.0
Name: bikes, dtype: float64

In [120]:
from sklearn.metrics import mean_absolute_error
error = mean_absolute_error([0, 0, 7, 10, 3], preds)

In [121]:
error

3.7205519790525416